
html {
    background-color:#1a1a1b;
    height:100%;
}

body {
    background-color:#242325;
    color:white;
    font-family:"Courier New", Courier, monospace;
    width:80%;
    min-width:500px;
    max-width:1600px;
    margin:auto;
    margin-top:0px;
    position:relative;
}

#container-top {
    position:fixed;
    top:0px;
    width:80%;
    background-color:#242325;
    z-index:2;
    display:inline-block;
}

#container-middle {
    position:absolute;
    top:73px;
    bottom:60px;
    left:0px;
    right:0px;
    overflow-y:scroll;
    margin:0px;
    margin-left:15px;
}

#container-bottom {
    position:fixed;
    bottom:0px;
    height:50px;
    width:80%;
    font-size:6pt;
    padding-bottom:10px;
    background-color:#242325;
    z-index:2;
}

.header {
    margin-top:82px;
}

.header-title {
    font-family:'PT Mono', monospace;
    margin-top:20px;
}

.header-subtitle {
    font-size:40pt;
}

.header-external-info * {
    display:inline-block;
}

.text-name {
    white-space:nowrap;
    color:greenyellow;
}

a {
    color:lawngreen;
}

a:visited {
    color:lightyellow;
}

a:hover {
    color:yellow;
}

hr {
    border:none;
    border-top:3px dashed white;
    margin:0px;
}

.content {
    margin-bottom:62px;
    padding-bottom:50px;
}

.content-item {
    clear:both;
    width:100%;
    margin-bottom:20px;
}

.content-image {
    max-width:30%;
    margin-top:0px;
    margin-bottom:20px;
    display:inline-block;
    float:left;
    border:1px dashed white;
    cursor:pointer;
}

.content-image-large {
    max-width:96% !important;
    border:3px dashed greenyellow;
}

.container-content-download, .container-content-resource {
    margin-bottom:10px;
}

.container-content-download *, .container-content-resource * {
    display:inline;
}

.content-item h3 {
    font-size:20pt;
    margin-top:0px;
}

.content-item p {
    font-size:13pt;
}